/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color and font for the whole page */
body {
  font-family: Cambria, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Center the header and add some padding */
header {
  text-align: center;
  padding: 1.25rem 0;
}

/* Style the main grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin: 1.25rem auto;
  max-width: 50rem;
}

/* Style the left section */
.left-section {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.recent-score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}

/* Style the refresh button */
.left-section button {
  background-color: #007bff;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.125rem 0.625rem;
  border: none;
  cursor: pointer;
  @media screen and (max-width:537px){
    height: 1.7 rem;
    margin: 0.8rem;
    margin-right: 0;
  }
}

/* Style the recent scores list */
#scoreboard {
  list-style: none;
}

/* Style the individual score list items */
#scoreboard li {
  padding: 0.3125rem;
  border-bottom: 0.0625rem solid #ddd;
}

/* Style the individual score list items */
.player-item {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #ddd;
  font-size: 1rem;
}

.player-item:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Style the right section */
.right-section {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* Style the "Add your score" heading */
.right-section h2 {
  margin-bottom: 0.9375rem;
}

/* Style the input fields for adding scores */
.right-section input[type="text"] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
}

/* Style the button for adding scores */
.right-section input[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
}

/* Style the "Submit" button */
.right-section button#submitBtn {
  display: block;
  margin-left: auto;
  background-color: #007bff;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
